@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Do+Hyeon&family=Teko:wght@600&display=swap');

body {
  margin: 0;
  background-color: #050505;
  color: white;
  overflow: hidden;
}

.crt-overlay {
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}

.skew-ui {
  transform: skewX(-15deg);
}

.skew-ui-rev {
  transform: skewX(15deg);
}